@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lilita+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #080808;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:url(../pp.images/image1\ copy.png) ;
    background-position: center;
    background-size:cover ;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
}
.logo{
    width: 100px;
    left: 0;
}
.logo span{
    background: #ff004f;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 40px;
}
.logo h1{
    font-family: 'Lilita One', cursive;
    font-size: 30px;
    color: white;
    margin-left: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav .fa-bars{
    display: none;;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 100px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
.header-text p span{
    color: #ff004f;
}
.header-text p{
    font-size: 30px;
    margin: 10px 20px;
}
.fa-bars{
    display:none;
}
/******************about**************/
.about{
    padding: 80px 0;
    color:#ababab ;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35% ;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------------services---------------------------*/
.services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius:10px ;
    transition: all 0.5s ;
    box-shadow:  0 10px 10px rgba(0, 0, 0, 0.5);
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
    box-shadow:0 10px 10px  rgb(255, 0, 79,0.2);

}

/*----------------My Work----------------*/
.portifolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 60vh;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
}
.work img{
    width: 100%;
    transition:transform 0.5s ;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition:height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 24px;
    text-align: center;
}
.work:hover img{
     transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 5px auto;
    border: 1px solid #ff004f;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffff;
    transition: all 0.5s;
    cursor: pointer;
}
.btn:hover{
    background: #ff004f;
    transform: scale(1.1);
}
/****************see more**************/
.see-more{
    padding: 30px 0;
    display: none;
}
.moretab-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.more-tabs{
    display: flex;
    margin: 20px 0 40px;
}
.viewtabs{
    margin-right:50px ;
    font-size: 30px;
    color: white;
}
.viewtabs{
    margin-right:50px ;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.viewtabs::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.viewtabs.activetab::after{
    width: 100%;
}
.category{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    border-radius: 16px;
}
.viewcontents h2,p,a{
    font-family: "tinos", serif;
}
.swiper{
    background:transparent;
    border-radius: 16px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.card-item{
    list-style: none;
}
.card-link{
    user-select: none;
    display: block;
    padding: 18px;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: 0.5s ease;
}
.card-link:hover{
    border-color:black ;
    padding: 10px;
    border-radius: 15px;
    transition:all 0.5s ease;
}
.card-link img{
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}
.card-link .badge{
    color: #343fdd67;
    padding: 8px 16px;
    font-size: 0.93rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}
#Websites ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#Websites ul li{
    list-style: square ;
    margin-left: 20px;
}
.viewcontents h2{
    color: #b54769;
}
.viewcontents p{
    font-size: 20px;
    margin: 10px 0;
}
.viewcontents{
    display: none;
}
.viewcontents.active-view{
    display: block;
}
.fullimage{
    width: 80vw;
    height: 90vh;
    margin-left: 10vw;
    top: 5vh;
    position: fixed;
    z-index: 1000;
    border-radius: 16px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5);
    background: url("../pp.images/nerd2-01.png");
    background-position: center;
    background-size: cover;
    display: none;
}
.fullimage i{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color:blue;
    cursor: pointer;
    transition: all 0.5s;
}
.fullimage i:hover{
    color: #ff004f;
    font-size: 50px;
}
/****************footer**************/

footer{
    padding: 30px 0;
    height: 50vh;
    width: 100%;
}
footer .container{
    margin-bottom:0 ;
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
    height: 70%;
}
.footer-container .logoholder{
    display: flex;
    flex-direction: column;
}
.footer-container .logoholder p{
    margin-top: 20px;
    margin-left: 50px;
}

.footer-container .holder{
    background: url("../pp.images/footerimage.png");
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 70%;
}

.content-left p{
     margin-top: 20px;
} 
.content-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.content-left a{
    color: #fff;
    text-decoration: none;
}
.footer-about{
    text-align: center;
}
.footer-about ul li a{
    text-decoration: none;
    color: white;
}
.footer-about ul li{
    list-style: none;
    margin: 10px 0;
}
.footer-about ul li a:hover{
    color: #ff004f;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}
.resume-btn{
    display: inline-block;
    background-color: #ff004f;
    transition: transform 0.5s;
}
.resume-btn:hover{
    transform:scale(1.1);
    background: #b54769;
    color: #262626;
}
.social-icons{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    align-items: center;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
}
.copyright span .fa-heart{
    color: red;
}
/*-----------------media-------------*/
@media only screen and (max-width:600px) {
    .header{
        background: url(../pp.images/image2\ copy.png);
        background-position: center;
        background-size: cover;
    }
    .header-text{
        margin-top: 100%;
        font-size:16px ;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-bars{
        display: block;
        font-size: 25px;
        transition: transform 0.5s;
    }
    nav  .fa-bars:hover{
        transform: scale(1.1);
        color: #ff004f;
    }
    nav ul{
        background:rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index:2 ;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    .fa-whatsapp{
        left: 20px;
    }
    .about-col-2, .about-col-1{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .see-more .moretab-title{
        font-size: 30px;
    }
    .viewtabs{
        font-size: 20px;
    }
}
